.navBarBox{
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 8px rgba(167, 166, 166, 0.5);
}
.navBarLeft{
    flex: 4;
    display: flex;
    align-items: center;
}
.navBarCenter{
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navBarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    margin-right: 20px;
    
}
.profilePic{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin-left: 10%;
}
.logo{
    margin: 10px;
    color: #1778F2;
    cursor: pointer;
}
.searchBarBox{
    width: 240px;
    height: 35px;
    background-color: #dfe3ee;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    align-items: center;
    padding: 3px;
}
.searchInput{
    background-color: #dfe3ee;
    border: 0;
    width: 80%;
    font-size: 15px;
}
.searchInput:focus{
    outline: none;
}
.serchIcon{
    color: gray;
    margin-left: 10px;
}
.pages{
    display: flex;
    align-items: center;
}
.rightIcons{
    display: flex;
    align-items: center;
    
}
.centerIcon{
    width: 60px;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    border-radius: 13px;
}
.centerIcon:hover{
    background-color: #e7eaf3;
}
.rightIcon{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1e5ee;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.rightIcon:hover{
    background-color: #d6d9e4;
}
.iconTag{
    width: 14px;
    height: 14px;
    color: #ffffff;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 13px;
}
.pageIcon:hover{
    color: #1778F2;
    font-size: 15px;
}
.iconBottom{
    background-color: #ffffff;
    width: 60px;
    height: 4px;
    border-radius: 25px;
}
.iconBottom1{
    background-color: #1778F2;
    width: 60px;
    height: 4px;
    border-radius: 25px;
}
.pageIcon1{
    color: #1778F2;
    margin-left: 20%;
}
.pageIcon{
    margin-left: 20%;
}